body{
    background-color: aliceblue;
}

div{
    display: block;
    display: flex;
    justify-content: center;
}

form{
    display: inline-block;
}

input{
    display: block;
    margin-bottom: 10px;
}

.submit{
    background-color: aquamarine;
    color: blue;
}